.tabulator {
  height: auto;
  .tabulator-row {
    .tabulator-cell {
      height: 40px;
      line-height: 30px;
    }
  }
}
// .tabulator .tabulator-row .tabulator-cell[tabulator-field="fieldname"]
