.modal {
  margin-top: 5.5vh;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 600px;
  margin: 0 auto;
  padding: 25px 49px;
  border-radius: 0.3rem;
  border: 1px solid white;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 500;
  color: white;
  button {
    float: right;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: transparent;
  }
}
.modal > section > main {
  iframe {
    height: 250px;
    width: 100%;
  }
  text-align: center;
  .subjectList {
    margin-top: 10px;
    text-align: start;
    overflow-y: scroll;
    max-height: 30vh;
    @media (max-width: 767px) {
      text-align: center;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #2f3542;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: grey;
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px white;
    }
    button {
      width: 100px;
      height: 100px;
      padding: 0;
      margin: 10px;
      border-radius: 50px;
      overflow: hidden;
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: top;
      }
    }
  }
  //두 번째 모달
  .subject {
    img {
      width: 280px;
      height: 45vh;
      object-fit: cover;
      object-position: top;
      margin: 15px 0;
    }
  }

  .subjectSelect {
    display: flex;
    justify-content: center;
    button,
    a {
      width: 190px;
      height: 55px;
      background: none;
      border: 1.5px solid white;
      color: white;
      margin: 20px 10px;
    }
    a {
      text-decoration: none;
      line-height: 50px;
    }
  }
}

.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}
.detection > section {
  padding-bottom: 50px;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
