.header-container {
  width: 100%;
  background-color: black;
  position: fixed !important;
  top: 0;
  z-index: 1000;
  width: 100%;
  span {
    color: white;
    opacity: 0.5;
  }
  .header-inner-container > a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.header-empty-space {
  height: 7vh;
  width: 100%;
}
