.sidebar {
  display: inline-block;
  width: 280px;
  > div {
    height: 93vh;
    position: fixed;
    top: 7vh;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgb(180, 180, 180);
  }
  ul {
    li {
      a {
        color: black;
      }
      &:hover {
        background-color: black;
      }
      &:hover a {
        color: white;
      }
    }
  }
}
