body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.contents {
  display: inline-block;
  position: relative;
  width: calc(100% - 280px);
  height: 5000px;
  padding: 50px 15% 20px 60px;
  h1 {
    padding: 10px;
    margin-bottom: 30px;
  }
}
