* {
  font-size: 14px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contents {
  padding-top: 3%;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  display: block;
  h1 {
    padding: 10px;
    margin: 30px 0;
    text-align: center;
  }
}

#cctv_marker_dot {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 5px 0px 0px 2px;
}
#cctv_marker_number,
#cctv_marker_number_red,
#cctv_marker_number_blue {
  width: 30px;
  height: 30px;
  border-radius: 15px 15px 0 15px;
  transform: rotate(45deg);
  text-align: center;
  > div {
    transform: rotate(315deg);
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 15px;
    position: relative;
    top: 4px;
    left: 4px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 550;
  }
}
#cctv_marker_number {
  background-color: black;
  color: black;
}
#cctv_marker_number_red {
  background-color: red;
  color: red;
}
#cctv_marker_number_blue {
  background-color: white;
  border: 3px solid black;
  > div {
    background-color: black;
    color: white;
    transform: rotate(315deg);
    width: 20px;
    height: 20px;
    border-radius: 15px;
    position: relative;
    top: 3px;
    left: 3px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 550;
  }
}
#upper_marker {
  width: 110px;
  display: flex !important;
  justify-content: flex-start;
  #time {
    text-shadow: -1px 0 2px #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    font-weight: bold;
  }
}
#cctv_marker_icon {
  text-align: center;
  width: 25px;
  height: 30px;
  > div {
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 550;
  }
}
#mapp > div {
  height: 700px;
  .button {
    z-index: 10000;
  }
}
.tabulator {
  margin-top: 0 !important;
}
.tabulator-col-content {
  font-size: 16px;
}
