body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.contents {
  width: 90%;
  margin: 0 auto;
  h1 {
    padding: 10px;
    margin: 30px 0;
  }
}

#cctv_marker_number {
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  text-align: center;
  line-height: 15px;
  color: white;
}
#cctv_marker_dot {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
#cctv_marker_number_red {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  text-align: center;
  line-height: 15px;
  color: white;
}
